Package: typewriter-keyboard
Version: @VERSION@
Section: unknown
Priority: optional
Depends: @DEPENDENCIES@
Architecture: amd64
Essential: no
Installed-Size: @APP_SIZE@
Maintainer: @MAINTAINER_NAME@ <@MAINTAINER_EMAIL@>
Description: Typewriter sounds for keyboard
